.schools {
    text-align: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding: 10px 100px 10px 100px;
}

.header h1 {
    font-size: 40px;
}

.header img {
    width: auto;
    height: auto;
}

.subheader {
    font-weight: 300;
    font-size: 25px;
    font-weight: bold;
    padding: 20px 20px 10px 20px;
    font-style: italic;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 20px 0 20px 0;
    height: 100%;
    width: 100%;
}

.card {
    border: 1px;
    border-style: solid;
    background: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 10px 10px #888888;
}

.school_logo {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.school_logo img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 1px;
    border-style: solid;
}

.school_name {
    padding: 25px 25px;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}

.school_link {
    margin: 30px 0 20px 0;
    height: 50px;
}

.school_link a {
    color: white;
    background: black;
    border-radius: 4px;
    padding: 10px 50px;
    border: 1px solid black;
    width: 100%;
    text-decoration: none;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.column {
    background: white;
    height: 100vh;
    overflow: scroll;
}

.column_2 {
    background: black;
}

.main {
    padding-left: 50px;
}

.header_wrapper {
    padding: 50px 100px 50px 0;
    font-size: 30px;
}

.header_wrapper img {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    border: 1px;
    border-style: solid;
    margin-bottom: -8px;
}

.total_reviews {
    font-size: 18px;
    padding: 10px 0;
}

.total_out_of {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
}

.rating_container {
    text-align: center;
    border-radius: 4px;
    font-size: 18px;
    padding: 40px 0 10px 0;
    border: 1px solid black;
    background: white;
    width: 100%;
}

.rating_box {
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    position: relative;
    margin-top: 12px;
}

.rating_box input {
    display: none;
}

.rating_box label {
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.rating_box {
    text-align: center;
}

.field {
    border-radius: 4px;
}

.field input {
    min-height: 50px;
    border-radius: 4px;
    border: 1px solid black;
    margin: 0 0 12px 0;
    padding: 12px;
    width: 97.5%;
}

.field textarea {
    min-height: 70px;
    border-radius: 4px;
    border: 1px solid black;
    margin: 0 0 12px 0;
    padding: 12px;
    width: 97.5%;
}

.form_wrapper {
    background: white;
    padding: 20px;
    background: black;
    height: 100vh;
    padding-top: 100px;
}

.submit_btn {
    color: white;
    background: green;
    border-radius: 4px;
    padding: 12px;
    font-size: 18px;
    transition: ease-in-out 0.1;
    border: 1px solid white;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

.submit_btn :hover {
    background: red;
    color: blue;
    border: 1px solid white;
}

.headline {
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.rating_title {
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

.review_card {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 20px;
    margin: 0 20px 20px 0;
}

.title {
    padding: 20px 20px 20px 0;
    font-size: 18px;
}

.description {
    padding: 0 0 20px 0;
    font-size: 14px;
}

.name {
    padding: 0 0 20px 0;
    font-size: 14px;
    font-style: italic;
    color: gray;
}

.review_rating_container {
    display: flex;
    flex-direction: row;
}

.stars {
    margin-left: auto;
    margin-right: auto;
}

.schools_link {
    margin: 30px 0 20px 0;
    height: 50px;
}

.schools_link a {
    color: white;
    background: black;
    border-radius: 4px;
    padding: 10px 10px;
    border: 1px solid black;
    width: 100%;
    text-decoration: none;
    font-size: small;
    font-weight: 700;
}

.about_link {
    margin: 30px 0 20px 0;
    height: 50px;
}

.about_link a {
    color: white;
    background: black;
    border-radius: 4px;
    padding: 10px 10px;
    border: 1px solid black;
    width: 100%;
    text-decoration: none;
    font-size: small;
    font-weight: 700;
}

.about {
    text-align: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.about img {
    height: 400px;
    width: 400px;
    border-radius: 100%;
    border: 1px;
    border-style: solid;
}

.about h1 {
    font-style: italic;
    padding: 50px 0 30px 0;
}

.about p {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}